<div class = container>
  <div class = banner1>
      <h1>Détail Car</h1>
  </div>
  <p>
  <strong>Name:</strong>
  <%= @car.name %>
  <strong>User id :</strong>
  <%= current_user.id %>
  <%= current_user.email %>
</p>

<p>
  <strong>marque:</strong>
  <%= @car.marque %>
</p>

<p>
  <strong>annee:</strong>
  <%= @car.annee%>
</p>

<p>
  <strong>tarif:</strong>
  <%= @car.tarif%>€ par jour
</p>

<p>
  =====================================
  <br>
  <strong>Liste de mes Bookings pour cette voiture:</strong>
  <br>
  =====================================
  <br>
<ol>
  <% @car.bookings.each do |booking| %>
  <p>
  <strong>booking.user: <%= booking.user_id %> </strong>
  <strong>current_user.id: <%= current_user.id %> </strong>
  </p>
  <% if booking.user_id == current_user.id %>
      <% if booking.duree > 1 %>
        <p><%= booking.duree %> jours pour un total de <%= booking.duree*@car.tarif %> €</p>
      <% else %>
        <p><%= booking.duree %> jour pour un total de <%= booking.duree*@car.tarif %> €</p>
      <% end %>
      <%= link_to "Delete Booking", car_booking_path(@car, booking), class: 'btn btn-gradient', method: :delete, data: { confirm: "Are you sure? "} %>
  <% end %>
      <br>
      =====================================
    <% end %>
</ol>

<%= link_to "Create booking", new_car_booking_path(@car), class: 'btn btn-gradient' %>
<%= link_to 'Edit Car', edit_car_path(@car), class: 'btn btn-gradient' %>
<%= link_to "Delete Car", car_path(@car), class: 'btn btn-gradient', method: :delete, data: { confirm: "Are you sure? "} %>
<%= link_to 'Liste Car', cars_path, class: 'btn btn-gradient' %>


</div>
